body {
    font-family: "Shadows Into Light";
    background-color: #000000;
    color: #ffffff;
    background-image: url(../imagens/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 98vw;
    padding: 50px 0px;
    scrollbar-width: none;
}

.cabecalho {
    display: flex;
    justify-content: center;
}

.selecao-de-personagens {
    display: flex;
    align-items: center;
    gap: 30px;
    min-height: calc(100vh - 152px);
    justify-content: center;
}

.selecao-de-personagens .lista-de-personagens {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.selecao-de-personagens .personagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 420px;
    gap: 25px;
}

.selecao-de-personagens .personagens .titulo {
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    border-bottom: 2px solid #703838;
    width: 100%;
    text-align: center;
}

.selecionado {
    height: 190px;
    width: 120px;
}

.selecionado:hover {
    box-shadow: 0px 0px 24px 5px aqua;
}

.personagem-selecionado {
    text-align: center;
    max-height: 500px;
}

.personagem-selecionado .personagem-grande {
    width: 300px;
    height: 380px;
}

.personagem-selecionado .nome-personagem {
    border-bottom: 2px solid #703838;
    width: 100%;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.personagem-selecionado .descricao-personagem {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-top: 20px;
    width: 420px;
    text-transform: uppercase;
}